apiVersion: v1
kind: Service
metadata:
  name: bookstore-service
  namespace: production  
spec:
  selector:
    app: react-app
    tier: frontend
  ports:
    - protocol: TCP
      port: 80  
      targetPort: 80  
  type: LoadBalancer
