apiVersion: apps/v1
kind: Deployment
metadata:
  name: bookstore-deployment
  namespace: production      
  labels:
    app: react-app
    tier: frontend
spec:
  replicas: 3 
  selector:
    matchLabels:
      app: react-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: react-app
        tier: frontend
    spec:
      containers:
      - name: nginx
        image: mamoh00/bookstore:latest  # Use a specific version instead of latest for stability
        ports:
        - containerPort: 80
        resources:  # Define resources for better performance and stability
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        livenessProbe:  # Health check to ensure the container is running
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          timeoutSeconds: 2
        readinessProbe:  # Check to ensure the service is ready to receive traffic
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          timeoutSeconds: 2
